<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragements/fragmentsPage::pageskelett(~{::title}, ~{::content})">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <title>Contacts</title>
</head>
<div id="container">
    <div >

        <div th:fragment="content">
            <div id="contacts-container">

                <ul>
                    <li th:each="entry : ${contactList}"
                        class="contactLinks">
                        <a   th:text="${entry.name}"
                             th:href="@{/contacts/{id}(id=${entry.id})}">
                        </a>
                    </li>
                </ul>


                <div>
                    <div th:if="${contact == null}">
                        Noch keinen Kontakt ausgewählt.
                    </div>

                    <form action="/contacts" method="get">
                        <input type="text" placeholder="Search here" th:name="searchName">
                        <input type="submit" value="Search">
                        <input type="submit" name="ClearName" value="Clear">
                    </form>

                    <table th:if="${contact != null}">
                        <!-- wird nur gerendet wenn contact nicht null-->

                        <tr th:replace="fragements/contactsFrag::listSingleEntry('Vorname', 'first-name', ${contact.firstName})"></tr>
                        <tr th:replace="fragements/contactsFrag::listSingleEntry('Nachname', 'last-name', ${contact.lastName})"></tr>

                        <div th:if="${!contact.phone.isEmpty()}">
                            <tr th:replace="fragements/contactsFrag::listRow('Telefonnummer', ${contact.phone})"></tr>
                        </div>

                        <div th:if="${!contact.email.isEmpty()}">
                            <tr th:replace="fragements/contactsFrag::listRow('E-Mail', ${contact.email})"></tr>
                        </div>

                    </table>
                </div>
            </div>

        </div>
    </div>
    <footer>
        built with <a href="https://spring.io/">Spring</a>
    </footer>
</div>
</html>
