<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="pageskelett(title,content)">
<link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">

<article>
    <div class="container">

        <header>
            <h1>
                ContactList
            </h1>
        </header>

        <nav>
            <ul>
                <li><a href="/contacts">ContactList</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/home">Home</a></li>
            </ul>
        </nav>

        <main id="container">

            <h1 th:replace="${title}">Mein Titel </h1>

            <div th:replace="${content}">
                Content
            </div>
        </main>

    </div>

</article>


</html>